text.gu1:hover, text.gu2:hover, text.gu3:hover, text.gu4:hover, text.gu5:hover, text.gu6:hover, text.gu7:hover, text.gu8:hover, text.gu9:hover, text.gu10:hover, text.gu11:hover, text.gu12:hover, text.gu13:hover, text.gu14:hover, text.gu15:hover, text.gu16:hover, text.gu17:hover, text.gu18:hover, text.gu19:hover, text.gu20:hover, text.gu21:hover, text.gu22:hover, text.gu23:hover, text.gu24:hover, text.gu25:hover {
    fill: red;
    cursor: pointer;
    stroke: red;
    background: purple;

}

.st39:hover, .st40:hover {
    color: #70D9F2;
    background-color: #70D9F2;
}

.st0 {
    fill: #FFFFFF;
}

.st1 {
    fill: #64DBFD;
}

.st2 {
    fill: #FAF8F0;
}

.st3 {
    fill: #FAF5E3;
}

.st4 {
    fill: #FAE8EE;
}

.st5 {
    fill: #C1F5E5;
}

.st6 {
    fill: #E1E1E2;
}

.st7 {
    fill: #F7DDE5;
}

.st8 {
    fill: #70D9F2;
}

.st9 {
    fill: #E1E2E3;
}

.st10 {
    fill: #F7D2DB;
}

.st11 {
    fill: #E5E2E4;
}

.st12 {
    fill: #DEF9F0;
}

.st13 {
    fill: #FAF1CC;
}

.st14 {
    fill: #FBF5DC;
}


.st22 {
    fill: #B8ECF3;
}

.st23 {
    fill: #E2F8F9;
}

.st24 {
    fill: #F4F9D2;
}

.st25 {
    fill: #E8F2B6;
}

.st26 {
    fill: #73ECD1;
}

.st27 {
    fill: #72EBD5;
}

.st30 {
    fill: #FBEBB1;
}

.st31 {
    fill: #8FE0F3;
}

.st32 {
    fill: #DBEC94;
}


.st34 {
    fill: #D0F3F5;
}

.st35 {
    fill: #CCE779;
}

.st36 {
    fill: #96F2DC;
}

.st37 {
    fill: #F7C2CE;
}

.st38 {
    fill: #A3E7F1;
}

.st39 {
    font-family: 'HanSantteutDotumRegular';
}

.st40 {
    font-size: 25.59px;
}

.st41 {
    fill: #ACF4E0;
}

.st42 {
    fill: #F8B1BF;
}

.st43 {
    fill: #F7F9E1;
}