<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>

		<typeAlias type="bit.data.dto.CafeDto" alias="cafedto"/>
		<typeAlias type="bit.data.dto.TripDto" alias="tripdto"/>
		<typeAlias type="bit.data.dto.FoodDto" alias="fooddto"/>

		<typeAlias type="bit.data.dto.FindDto" alias="finddto"/>
		<typeAlias type="bit.data.dto.UserDto" alias="udto"/>
		<typeAlias type="bit.data.dto.CommentFriendDto" alias="cfdto"/>
		<typeAlias type="bit.data.dto.CourseDto" alias="coursedto"/>
		<typeAlias type="bit.data.dto.QnaDto" alias="qnadto"/>
		<typeAlias type="bit.data.dto.QnaAnswerDto" alias="qnaanswerdto"/>
		<typeAlias type="bit.data.dto.FaqDto" alias="faqdto"/>
		<typeAlias type="bit.data.dto.NoticeDto" alias="noticedto"/>
		<typeAlias type="bit.data.dto.SubsDto" alias="subsdto"/>
		<typeAlias type="bit.data.dto.CommentCourseDto" alias="ccdto"/>


	</typeAliases>
</configuration>