<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.data.dao.AdminDao">
    <!--	 유저 수-->
    <select id="getTotalCount" parameterType="Map" resultType="int">
        select count(*) from user
        <if test="searchcolumn!='' and searchcolumn!=null and searchword!=null">
            where ${searchcolumn} like concat('%',#{searchword},'%')
        </if>
    </select>
    <delete id="deleteUserByNum" parameterType="int">
        delete from user where user_num=#{user_num}
    </delete>

    <!--	코스수-->
    <select id="selectCafeTotalCount" resultType="int">
        select count(*)
        from cafe
    </select>

    <select id="selectFoodTotalCount" resultType="int">
        select count(*)
        from food
    </select>

    <select id="selectTripTotalCount" resultType="int">
        select count(*)
        from trip
    </select>
    <!--    답변안된 문의사항 -->
    <select id="qnaNotAnswer" resultType="int">
        select count(*) from qna where answer="not"
    </select>

    <!--오늘 작성된 리뷰-->
    <select id="todayReview" resultType="int">
        select count(*) from comment_course where DATE_FORMAT(writeday, "%Y-%m-%d")=curdate()
    </select>

    <!--회원관리-->
    <select id="userInfo" resultType="udto">
        select * from user order by gaipday desc
    </select>

    <!--유저 정보 페이징-->
    <select id="getUserPaging" parameterType="Map" resultType="udto">
        select * from user
        <if test="searchcolumn!='' and searchcolumn!=null and searchword!=null">
            where ${searchcolumn} like concat('%',#{searchword},'%')
        </if>
        order by gaipday desc limit #{startnum},#{perpage}
    </select>

    <select id="getCafePaging" parameterType="Map" resultType="cafedto">
        select * from cafe
        <if test="searchcolumn!='' and searchcolumn!=null and searchword!=null">
            where ${searchcolumn} like concat('%',#{searchword},'%')
        </if>
        order by title asc limit #{startnum},#{perpage}
    </select>
    <select id="getCafeTotal" parameterType="Map" resultType="int">
        select count(*) from cafe
        <if test="searchcolumn!='' and searchcolumn!=null and searchword!=null">
            where ${searchcolumn} like concat('%',#{searchword},'%')
        </if>
    </select>
    <insert id="cafeInsertAct" parameterType="cafedto">
        insert into cafe values (null,#{title},#{addr},#{menu},#{photo},#{tel},#{lat},#{lon},#{gu},0)
    </insert>
    <update id="cafeUpdAct" parameterType="cafedto">
        update cafe set title=#{title},addr=#{addr},menu=#{menu},tel=#{tel},lat=#{lat},lon=#{lon},gu=#{gu}
        <if test="photo!=null">
            ,photo=#{photo}
        </if>
        where cafe_num=#{cafe_num}
    </update>
    <delete id="deleteCafeByNum" parameterType="int">
        delete from cafe where cafe_num=#{cafe_num}
    </delete>



    <select id="getFoodPaging" parameterType="Map" resultType="fooddto">
        select * from food
        <if test="searchcolumn!='' and searchcolumn!=null and searchword!=null">
            where ${searchcolumn} like concat('%',#{searchword},'%')
        </if>
        order by title asc limit #{startnum},#{perpage}
    </select>
    <select id="getFoodTotal" parameterType="Map" resultType="int">
        select count(*) from food
        <if test="searchcolumn!='' and searchcolumn!=null and searchword!=null">
            where ${searchcolumn} like concat('%',#{searchword},'%')
        </if>
    </select>
    <insert id="foodInsertAct" parameterType="fooddto">
        insert into food values (null,#{title},#{addr},#{category},#{menu},#{photo},#{tel},#{lat},#{lon},#{gu},0)
    </insert>
    <update id="foodUpdAct" parameterType="fooddto">
        update food set title=#{title},addr=#{addr},category=#{category},menu=#{menu},tel=#{tel},lat=#{lat},lon=#{lon},gu=#{gu}
        <if test="photo!=null">
            ,photo=#{photo}
        </if>
        where food_num=#{food_num}
    </update>
    <delete id="deleteFoodByNum" parameterType="int">
        delete from food where food_num=#{food_num}
    </delete>

    <select id="getTripPaging" parameterType="Map" resultType="tripdto">
        select * from trip
        <if test="searchcolumn!='' and searchcolumn!=null and searchword!=null">
            where ${searchcolumn} like concat('%',#{searchword},'%')
        </if>
        order by title asc limit #{startnum},#{perpage}
    </select>
    <select id="getTripTotal" parameterType="Map" resultType="int">
        select count(*) from trip
        <if test="searchcolumn!='' and searchcolumn!=null and searchword!=null">
            where ${searchcolumn} like concat('%',#{searchword},'%')
        </if>
    </select>
    <insert id="tripInsertAct" parameterType="tripdto">
        insert into trip values (null,#{title},#{addr},#{photo},#{content},#{lat},#{lon},#{gu},0)
    </insert>
    <update id="tripUpdAct" parameterType="tripdto">
        update trip set title=#{title},addr=#{addr},content=#{content},lat=#{lat},lon=#{lon},gu=#{gu}
        <if test="photo!=null">
            ,photo=#{photo}
        </if>
        where trip_num=#{trip_num}
    </update>
    <delete id="deleteTripByNum" parameterType="int">
        delete from trip where trip_num=#{trip_num}
    </delete>

</mapper>
