<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.data.dao.AdminDao">
    <!--	 유저 수-->
    <select id="getTotalCount" resultType="int">
        select count(*)
        from user
    </select>

    <!--	코스수-->
    <select id="selectCafeTotalCount" resultType="int">
        select count(*)
        from cafe
    </select>

    <select id="selectFoodTotalCount" resultType="int">
        select count(*)
        from food
    </select>

    <select id="selectTripTotalCount" resultType="int">
        select count(*)
        from trip
    </select>
    <!--    답변안된 문의사항 -->
    <select id="qnaNotAnswer" resultType="int">
        select count(*) from qna where answer="not"
    </select>

    <!--오늘 작성된 리뷰-->
    <select id="todayReview" resultType="int">
        select count(*) from comment_course where DATE_FORMAT(writeday, "%Y-%m-%d")=curdate()
    </select>

    <!--회원관리-->
    <select id="userInfo" resultType="udto">
        select * from user order by gaipday desc
    </select>

</mapper>






















