<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="bit.data.dao.BoardAnswerDao">
	<select id="selectAllDatas" parameterType="int" resultType="badto">
		select * from reboardanswer where num=#{num} order by idx desc
	</select>
	<insert id="insertAnswer" parameterType="badto">
		insert into reboardanswer values (null,#{id},#{name},#{photo},#{message},now(),#{num})
	</insert>
	<select id="selectAnswerByIdx" parameterType="int" resultType="badto">
		select * from reboardanswer where idx=#{idx}
	</select>
	<delete id="deleteByIdx" parameterType="int">
		delete from reboardanswer where idx=#{idx}
	</delete>
</mapper>