<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.data.dao.CourseDao">
<!--로그인한 유저가 갖고 있는 모든 경로들 가져오기-->
    <select id="getAllCourses" parameterType="int" resultType="coursedto">
        select * from course where user_num = #{user_num} order by cos_num asc
    </select>
<!--로그인한 유저가 갖고 있는 경로들중 한 개 가져오기 필요없어보임-->
    <select id="getCourse" parameterType="int" resultType="coursedto">

    </select>
<!--유저가 작성한 경로를 테이블에 저장-->
    <insert id="insertCourse" parameterType="Map">
        insert into course values(null, #{cnt}, #{title}, #{user_num}, #{step1}, #{step2}, #{step3}, #{step4}, #{step5}, now())
    </insert>

    <delete id="deleteCourse" parameterType="int">
        delete from course where cos_num=#{course_num}
    </delete>

    <update id="updateStep" parameterType="Map" >
        update course set step${num} = #{newStep}
    </update>

    <!-- 경로 설정 시, 정보 가져오기 -->
    <select id="getSearchCafe" parameterType="String" resultType="CafeDto">
        SELECT * FROM cafe where title like concat('%',#{searchword},'%')
    </select>
    <select id="getSearchTrip" parameterType="String" resultType="TripDto">
        SELECT * FROM trip where title like concat('%',#{searchword},'%')
    </select>
    <select id="getSearchFood" parameterType="String" resultType="FoodDto">
        SELECT * FROM food where title like concat('%',#{searchword},'%')
    </select>

    <!--위도 경도 가져오기 -->
    <select id="getCafeLatLon" parameterType="int" resultType="CafeDto">
        select * from cafe where cafe_num = ${course_num}
    </select>

    <select id="getFoodLatLon" parameterType="int" resultType="FoodDto">
        select * from food where food_num = ${course_num}
    </select>

    <select id="getTripLatLon" parameterType="int" resultType="TripDto">
        select * from trip where trip_num = ${course_num}
    </select>

</mapper>