<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.data.dao.MemberDao">
	<select id="getTotalCount" resultType="int">
		select count(*) from member
	</select>
	<select id="getIdSearch" parameterType="String" resultType="int">
		select count(*) from member where loginid=#{id}
	</select>
	<insert id="insertMember" parameterType="mdto">
		insert into member (loginid,pass,name,photo,hp,email,address,gaipday)
			values (#{loginid},#{pass},#{name},#{photo},#{hp},#{email},#{address},now())
	</insert>
	<select id="getAllMembers" resultType="mdto">
		select * from member order by loginid asc
	</select>
	<select id="getName" parameterType="String" resultType="String">
		select name from member where loginid=#{id}
	</select>
	<select id="loginIdPassCheck" parameterType="Map" resultType="int">
		select count(*) from member where loginid=#{loginid} and pass=#{loginpass}
	</select>
	<select id="getDataById" parameterType="String" resultType="mdto">
		select * from member where loginid=#{id}
	</select>
	<select id="getDataByNum" parameterType="int" resultType="mdto">
		select * from member where num=#{num}
	</select>
	<update id="updatePhoto" parameterType="Map">
		update member set photo=#{photo} where num=#{num}
	</update>
	<update id="updateMember" parameterType="mdto">
		update member set name=#{name},hp=#{hp},address=#{address},email=#{email} where num=#{num}
	</update>
	<delete id="deleteMember" parameterType="int">
		delete from member where num=#{num}
	</delete>
</mapper>















