<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.data.dao.QnaDao">
    <select id="getQna" parameterType="int" resultType="qnadto">
        select * from qna where qna_num=#{qna_num}
    </select>

    <select id="getAllData" resultType="QnaDto">
        select * from qna order by qna_num desc
    </select>

    <select id="getTotalCount" parameterType="Map" resultType="int">
        select count(*) from qna
        <if test="searchcolumn!=null and searchword!=null">
            where ${searchcolumn} like concat('%',#{searchword},'%')
        </if>
    </select>

    <select id="getPagingList" parameterType="Map" resultType="qnadto">
        select * from qna
        <if test="searchcolumn!=null and searchword!=null">
            where ${searchcolumn} like concat('%',#{searchword},'%')
        </if>
        order by qna_num desc limit #{startnum},#{perpage}
    </select>

    <select id="selectUser_num" parameterType="int" resultType="qnadto">
        select * from qna where user_num=#{user_num}
    </select>

    <insert id="insertQna" parameterType="qnadto">
        insert into qna values (null,#{user_num},#{subject},#{content},'not',now(),0)
    </insert>

    <delete id="deleteQna" parameterType="int">
        delete from qna where qna_num=#{qna_num}
    </delete>

    <update id="updateQna" parameterType="qnadto">
        update qna set subject=#{subject},content=#{content} where qna_num=#{qna_num}
    </update>

    <update id="updateQnaAnswer" parameterType="qnadto">
        update qna Q inner join qna_answer A on Q.qna_num = A.qna_num set Q.answer = 'yes' WHERE A.user_num = #{user_num}
    </update>
</mapper>