<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.data.dao.UserDao">


    <select id="findPasswordById" parameterType="String" resultType="udto">
        select rpad(substr(password,1,char_length(password)/2),char_length(password),"*") as password from user where loginid=#{loginid}
    </select>


    <select id="findPasswordCheckById" parameterType="String" resultType="int">
        select count(*) from user where loginid=#{loginid}
    </select>

    <select id="findIdByEmail" parameterType="String" resultType="udto">
        select * from user where email=#{email}
    </select>

    <select id="findIdCheckByEmail" parameterType="String" resultType="int">
        select count(*) from user where email=#{email}
    </select>

    <select id="getUserByKakaoId" parameterType="long" resultType="udto">
        select * from user where kakao_id=#{kakao_id}
    </select>

    <select id="getUserByNaverId" parameterType="String" resultType="udto">
        select * from user where naver_id=#{naver_id}
    </select>

    <select id="getTotalCount" resultType="int">
        select count(*) from user
    </select>

    <!-- 회원이 있는지 여부 확인 -->
    <select id="getLoginIdSearch" parameterType="udto" resultType="int">
        select count(*) from user where loginid=#{loginid}
    </select>

    <select id="loginNicknameCheck" parameterType="String" resultType="int">
        select count(*) from user where nickname=#{nickname}
    </select>

    <insert id="insertUser" parameterType="udto">
        insert into user (loginid,kakao_id,naver_id,password,name,nickname,age,gender,email,hp,gaipday)
        values (#{loginid},#{kakao_id},#{naver_id},#{password},#{name},#{nickname},#{age},#{gender},#{email},#{hp},now())
    </insert>

    <select id="getAllUsers" resultType="udto">
        select * from user order by loginid asc
    </select>

    <select id="getDataByUserNum" parameterType="int" resultType="udto">
        select * from user where user_num=#{user_num}
    </select>

    <select id="getName" parameterType="String" resultType="String">
        select name from user where loginid=#{loginid}
    </select>

    <select id="getLoginIdPasswordCheck" parameterType="Map" resultType="int">
        select count(*) from user where loginid=#{loginid} and password=#{password}
    </select>

    <select id="getDataByLoginId" parameterType="String" resultType="udto">
        select * from user where loginid=#{loginid}
    </select>

    <update id="updateProfilePhoto" parameterType="Map">
        update user set profilephoto=#{profilephoto} where user_num=#{user_num}
    </update>

    <update id="updateUser" parameterType="udto">
        update user set nickname=#{nickname},password=#{password}, age=#{age},hp=#{hp},profile=#{profile},interest=#{interest},mycourse=#{mycourse} where user_num=#{user_num}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where user_num=#{user_num}
    </delete>






</mapper>